/*EJECUTIVOS*/

.ejecutivos {
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.ejecutivos-1{
  @include team ($color-principal, url(../images/team-1.jpg), 200px, 200px, 100px);
}

.ejecutivos-2{
  @include team ($color-secundario, url(../images/team-2.jpg), 200px, 200px, 100px);
}

.ejecutivos-3{
  @include team ($color-principal, url(../images/team-3.jpg), 200px, 200px, 100px);
}

.ejecutivos-4{
  @include team ($color-secundario, url(../images/team-4.jpg), 200px, 200px, 100px);
}

.ejecutivos-content {
  padding: 15px;

  h3 {
    color: $color-principal;
  }
}
