/*SOCIAL*/

.socialmedia {
  /* background: #fff; */
  padding: 0px 0px 0px 50px;

  a {
    color: #fff;
    padding: 0px 10px 0px 0px;
    @include links;

    &:hover {
      color: $color-terciario;
    }
  }
}

/* Pantallas inferiores a 991 px */
@media screen and (max-width: 991px) {
  .socialmedia {
    text-align: center;
    padding: 20px 10px 20px 10px;
    border-top: grey solid 1px;

    a {
      color: $color-terciario;
      text-align: center;

      &:hover {
        color: grey;
      }
    }
  }
}
